<!DOCTYPE html>
<html>
<head>
  <title>Shopknekt</title>
  <link href="css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.min.js"></script>
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Youth Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <!-- start menu -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/simpleCart.min.js"> </script>
  <!-- slide -->
  <script src="js/responsiveslides.min.js"></script>
  <script>
  $(function () {
    $("#slider").responsiveSlides({
      auto: false,
      speed: 500,
      namespace: "callbacks",
      pager: true,
    });
  });
  </script>
  <!-- animation-effect -->
  <link href="css/animate.min.css" rel="stylesheet">
  <script src="js/wow.min.js"></script>
  <script>
  new WOW().init();
  </script>
  <!-- //animation-effect -->

</head>
<body>
  <!--header-->
  <div class="header">
    <div class="header-top">
      <div class="container">
        <div class="col-sm-8 logo animated wow fadeInLeft" data-wow-delay=".5s">
          <h1><a href="index.html">Shop<span>knekt</span></a></h1>
        </div>
        <div class="col-sm-4 world animated wow fadeInRight" data-wow-delay=".5s">
          <div class="cart box_1">
            <a href="checkout.html">
              <h3> <div class="total">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <p>Cart</p>

              </div>
              <div class="col-sm-4 search animated wow fadeInRight" data-wow-delay=".5s">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="container">
            <div class="head-top">
              <div class="n-avigation">

                <nav class="navbar nav_bottom" role="navigation">

                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                      <li><a href="index.html">Home</a></li>
                      <li class="dropdown mega-dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu">
                          <div class="container-fluid">
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane active" id="men">
                                <ul class="nav-list list-inline">
                                  <li><a href="women.html"><img src="images/t7.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="women.html"><img src="images/t8.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="women.html"><img src="images/t9.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="women.html"><img src="images/t11.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="women.html"><img src="images/t1.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="women.html"><img src="images/t12.jpg" class="img-responsive" alt=""/></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- Nav tabs -->

                        </div>
                      </li>
                      <li class="dropdown mega-dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<span class="caret"></span></a>
                        <div class="dropdown-menu mega-dropdown-menu">
                          <div class="container-fluid">
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane active" id="men">
                                <ul class="nav-list list-inline">
                                  <li><a href="men.html"><img src="images/t10.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="men.html"><img src="images/t2.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="men.html"><img src="images/t3.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="men.html"><img src="images/t4.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="men.html"><img src="images/t5.jpg" class="img-responsive" alt=""/></a></li>
                                  <li><a href="men.html"><img src="images/t6.jpg" class="img-responsive" alt=""/></a></li>
                                </ul>
                              </div>

                            </div>
                          </div>
                          <!-- Nav tabs -->

                        </div>
                      </li>
                      <li><a href="products.html">Products</a></li>
                      <li><a href="account.html">Sign In</a></li>
                      <li class="last"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->

                </nav>
              </div>


              <div class="clearfix"> </div>
              <!---pop-up-box---->
              <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
              <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
              <!---//pop-up-box---->
              <div id="small-dialog" class="mfp-hide">
                <div class="search-top">
                  <div class="login">
                    <form action="#" method="post">
                      <input type="submit" value="">
                      <input type="text" name="search" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">

                    </form>
                  </div>
                  <p>	Shopping</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!---carousel-->
        <div class="">
          <br>
          <div class="container-width">


            <div id="myCarousel" class="carousel slide container-width" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                <div class="item active">
                  <img src="images/1.jpg" alt="image" width="460" height="345">
                  <div class="carousel-caption">
                    <h2>women</h2>
                    <h3>Trousers & Chinos</h3>
                    <h4>UPTO 70%</h4>
                    <p>OFFER</p>
                  </div>
                </div>

                <div class="item">
                  <img src="images/2.jpg" alt="image" width="460" height="345">
                  <div class="carousel-caption">
                    <h2>men</h2>
                    <h3>Trousers & Chinos</h3>
                    <h4>UPTO 70%</h4>
                    <p>OFFER</p>
                  </div>
                </div>

                <div class="item">
                  <img src="images/1.jpg" alt="Flower" width="460" height="345">
                  <div class="carousel-caption">
                    <h2>kids</h2>
                    <h3>Trousers & Chinos</h3>
                    <h4>UPTO 70%</h4>
                    <p>OFFER</p>
                  </div>
                </div>


              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

          <!---//carousel-->

        <div class="container">
          <!--sidebar-->
          <div class="col-md-3 product-bottom left-sidebar">
            <!--categories-->
            <div class=" rsidebar span_1_of_left">
              <h3 class="cate">Categories</h3>

              <ul class="menu-drop">

                <li class="item1"><a href="#">Men </a>
                  <ul class="cute">
                    <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                  </ul>
                </li>

                <li class="item2"><a href="#">Women </a>
                  <ul class="cute">
                    <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                  </ul>
                </li>

                <li class="item3"><a href="#">Kids</a>
                  <ul class="cute">
                    <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                  </ul>
                </li>

                <li class="item4"><a href="#">Accessories</a>
                  <ul class="cute">
                    <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                  </ul>
                </li>

                <li class="item4"><a href="#">Shoes</a>
                  <ul class="cute">
                    <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                    <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                    <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                  </ul>
                </li>
              </ul>
            </div>

                    <!--//menu-->
            <!--seller-->
            <div class="product-bottom">
              <h3 class="cate">Best Sellers</h3>
              <!-- single-product -->
              <div class="product-go">
                <div class=" fashion-grid">
                  <a href="single.html"><img class="img-responsive " src="images/pr.jpg" alt=""></a>
                </div>
                <div class=" fashion-grid1">
                  <h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                  <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
              </div>
              <!-- single-product end -->

              <div class="product-go">
                <div class=" fashion-grid">
                  <a href="single.html"><img class="img-responsive " src="images/pr1.jpg" alt=""></a>
                </div>
                <div class=" fashion-grid1">
                  <h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                  <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
              </div>

              <div class="product-go">
                <div class=" fashion-grid">
                  <a href="single.html"><img class="img-responsive " src="images/pr2.jpg" alt=""></a>
                </div>
                <div class=" fashion-grid1">
                  <h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                  <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
              </div>

              <div class="product-go">
                <div class=" fashion-grid">
                  <a href="single.html"><img class="img-responsive " src="images/pr3.jpg" alt=""></a>
                </div>
                <div class=" fashion-grid1">
                  <h6 class="best2"><a href="single.html" >Lorem ipsum dolor sitamet consectetuer  </a></h6>
                  <span class=" price-in1"> $40.00</span>
                </div>
                <div class="clearfix"> </div>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>

          <!-- sidebar -->

          <div class="c-btm col-md-9">
            <div class="content-top1">

              <div class="col-md-4 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi9.png" alt="" />
                  </a>
                  <h3><a href="single.html">Trousers</a></h3>
                  <div class="price">
                    <h5 class="item_price">$300</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi10.png" alt="" />
                  </a>
                  <h3><a href="single.html">Formal</a></h3>
                  <div class="price">
                    <h5 class="item_price">$450</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi11.png" alt="" />
                  </a>
                  <h3><a href="single.html">Trousers</a></h3>
                  <div class="price">
                    <h5 class="item_price">$350</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi9.png" alt="" />
                  </a>
                  <h3><a href="single.html">Trousers</a></h3>
                  <div class="price">
                    <h5 class="item_price">$300</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 animated wow fadeInLeft" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi10.png" alt="" />
                  </a>
                  <h3><a href="single.html">Formal</a></h3>
                  <div class="price">
                    <h5 class="item_price">$450</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                <div class="col-md1 simpleCart_shelfItem">
                  <a href="single.html">
                    <img class="img-responsive" src="images/pi11.png" alt="" />
                  </a>
                  <h3><a href="single.html">Trousers</a></h3>
                  <div class="price">
                    <h5 class="item_price">$350</h5>
                    <a href="#" class="item_add">Add To Cart</a>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

          <div class="con-tp">
            <div class="container">

              <div class="col-md-4 con-tp-lft animated wow fadeInLeft" data-wow-delay=".5s">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/6.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>30%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4 con-tp-lft animated wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/10.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>45%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4 con-tp-lft animated wow fadeInRight" data-wow-delay=".5s">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/9.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>50%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="clearfix"></div>

              <div class="col-md-4 con-tp-lft animated wow fadeInLeft" data-wow-delay=".5s">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/12.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>25%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4 con-tp-lft animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/13.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>50%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4 con-tp-lft animated wow fadeInRight" data-wow-delay=".5s">
                <a href="products.html">
                  <div class="content-grid-effect slow-zoom vertical">
                    <div class="img-box"><img src="images/14.jpg" alt="image" class="img-responsive zoom-img"></div>
                    <div class="info-box">
                      <div class="info-content simpleCart_shelfItem">
                        <h4>35%offer</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="clearfix"></div>
            </div>
          </div>


          <!--footer-->
          <div class="footer">
            <div class="container">
              <div class="footer-top">
                <div class="col-md-6 top-footer animated wow fadeInLeft" data-wow-delay=".5s">
                  <h3>Follow Us On</h3>
                  <div class="social-icons">
                    <ul class="social">
                      <li><a href="#"><i></i></a> </li>
                      <li><a href="#"><i class="facebook"></i></a></li>
                      <li><a href="#"><i class="google"></i> </a></li>
                      <li><a href="#"><i class="linked"></i> </a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-6 top-footer1 animated wow fadeInRight" data-wow-delay=".5s">
                  <h3>Newsletter</h3>
                  <form action="#" method="post">
                    <input type="text" name="email" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="SUBSCRIBE">
                  </form>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="col-md-3 footer-bottom-cate animated wow fadeInLeft" data-wow-delay=".5s">
                  <h6>Categories</h6>
                  <ul>
                    <li><a href="products.html">Curabitur sapien</a></li>
                    <li><a href="single.html">Dignissim purus</a></li>
                    <li><a href="men.html">Tempus pretium</a></li>
                    <li><a href="products.html">Dignissim neque</a></li>
                    <li><a href="single.html">Ornared id aliquet</a></li>

                  </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate animated wow fadeInLeft" data-wow-delay=".5s">
                  <h6>Feature Projects</h6>
                  <ul>
                    <li><a href="products.html">Dignissim purus</a></li>
                    <li><a href="men.html">Curabitur sapien</a></li>
                    <li><a href="single.html">Tempus pretium</a></li>
                    <li><a href="men.html">Dignissim neque</a></li>
                    <li><a href="products.html">Ornared id aliquet</a></li>
                  </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate animated wow fadeInRight" data-wow-delay=".5s">
                  <h6>Top Brands</h6>
                  <ul>
                    <li><a href="products.html">Tempus pretium</a></li>
                    <li><a href="single.html">Curabitur sapien</a></li>
                    <li><a href="men.html">Dignissim purus</a></li>
                    <li><a href="single.html">Dignissim neque</a></li>
                    <li><a href="men.html">Ornared id aliquet</a></li>


                  </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInRight" data-wow-delay=".5s">
                  <h6>Our Address</h6>
                  <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 12th Avenue, 5th block, <span>Sydney.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567</li>
                  </ul>
                </div>
                <div class="clearfix"> </div>
                <p class="footer-class animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"> © 2016 Youth Fashion . All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
              </div>
            </div>
          </div>

          <!--footer-->
          <!--initiate accordion-->
          <script type="text/javascript">
          $(function() {
            var menu_ul = $('.menu-drop > li > ul'),
            menu_a  = $('.menu-drop > li > a');
            menu_ul.hide();
            menu_a.click(function(e) {
              e.preventDefault();
              if(!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
              } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
              }
            });

          });
          </script>

        </body>
        </html>
