<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title> Checkout Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
</head>
<body>
       <div class="header-top">
			<div class="wrap">
			<!---728x90--->
			  	    <div class="clear"></div>
   			 </div>
			 <div class="cssmenu">
				<ul>
					<li class="active"><a href="login.html">Account</a></li> |
					<li><a href="checkout.html">Wishlist</a></li> |
					<li><a href="checkout.html">Checkout</a></li> |
					<li><a href="login.html">Log In</a></li> |
					<li><a href="register.html">Sign Up</a></li>
				</ul>
			</div>
			<div class="clear"></div>
 		</div>
	</div>
	 <div class="header-bottom">
	    <div class="wrap">
			<div class="header-bottom-left">
				<div class="logo">
					<a href="index.html"><img src="images/logo1.png" alt=""/></a>
				</div>
				<div class="menu">
	            <ul class="megamenu skyblue">
			<li class="active grid"><a href="index.html">Home</a></li>
			<li><a class="color4" href="#">women</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Contact Lenses</h4>
								<ul>
									<li><a href="womens.html">Daily-wear soft lenses</a></li>
									<li><a href="womens.html">Extended-wear</a></li>
									<li><a href="womens.html">Lorem ipsum </a></li>
									<li><a href="womens.html">Planned replacement</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Sun Glasses</h4>
								<ul>
									<li><a href="womens.html">Heart-Shaped</a></li>
									<li><a href="womens.html">Square-Shaped</a></li>
									<li><a href="womens.html">Round-Shaped</a></li>
									<li><a href="womens.html">Oval-Shaped</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Eye Glasses</h4>
								<ul>
									<li><a href="womens.html">Anti Reflective</a></li>
									<li><a href="womens.html">Aspheric</a></li>
									<li><a href="womens.html">Bifocal</a></li>
									<li><a href="womens.html">Hi-index</a></li>
									<li><a href="womens.html">Progressive</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>
				<li><a class="color5" href="#">Men</a>
				<div class="megapanel">
					<div class="col1">
							<div class="h_nav">
								<h4>Contact Lenses</h4>
								<ul>
									<li><a href="mens.html">Daily-wear soft lenses</a></li>
									<li><a href="mens.html">Extended-wear</a></li>
									<li><a href="mens.html">Lorem ipsum </a></li>
									<li><a href="mens.html">Planned replacement</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Sun Glasses</h4>
								<ul>
									<li><a href="mens.html">Heart-Shaped</a></li>
									<li><a href="mens.html">Square-Shaped</a></li>
									<li><a href="mens.html">Round-Shaped</a></li>
									<li><a href="mens.html">Oval-Shaped</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Eye Glasses</h4>
								<ul>
									<li><a href="mens.html">Anti Reflective</a></li>
									<li><a href="mens.html">Aspheric</a></li>
									<li><a href="mens.html">Bifocal</a></li>
									<li><a href="mens.html">Hi-index</a></li>
									<li><a href="mens.html">Progressive</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li><a class="color6" href="other.html">Other</a></li>
				<li><a class="color7" href="other.html">Purchase</a></li>
			</ul>
			</div>
		</div>
	   <div class="header-bottom-right">
         <div class="search">
				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		 </div>
	  <div class="tag-list">
	    <ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c1" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>sed diam nonummy</h3><a href=""></a></li>
					<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
				</ul>
			</li>
		</ul>
		<ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c2" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>No Products</h3><a href=""></a></li>
					<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
				</ul>
			</li>
		</ul>
	    <ul class="last"><li><a href="#">Cart(0)</a></li></ul>
	  </div>
    </div>
     <div class="clear"></div>
     </div>
	</div>
	<!---728x90--->
  <section id="cart_items">
    <div class="container">
      <div class="step-one">
        <h2 class="heading" style="    background: none repeat scroll 0 0 #F0F0E9;
    background-image: none;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(240, 240, 233);
    color: #363432;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 10px 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 75px;
    font-family: 'Roboto', sans-serif;">Step1</h2>
      </div>
      <div class="checkout-options" style="color: #363432;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding-left:75px;">
        <h3>New User</h3>

        <ul class="nav">
          <li>
            <input type="radio" name="checkout" value="Register Account" checked> Register Account
          </li>
          <li>
            <input  type="radio" name="checkout" value="Guest Checkout"> Guest Checkout
          </li>
          <li>
            <a href=""><i class="fa fa-times"></i>Cancel</a>
          </li>
        </ul>
      </div><!--/checkout-options-->

      <div class="register-req">
        <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
      </div><!--/register-req-->

      <div class="shopper-informations">
        <div class="row">

          <div class="col-sm-3">
            <div class="shopper-info">
              <p>Shopper Information</p>
              <form>
                <input type="text" placeholder="Display Name">
                <input type="text" placeholder="User Name">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm password">
              </form>
              <a class="btn btn-primary" href="">Get Quotes</a>
              <a class="btn btn-primary" href="">Continue</a>
            </div>
          </div>

          <div class="col-sm-5 clearfix">
            <div class="bill-to">
              <p>Bill To</p>

              <div class="form-one">
                <form>
                  <input type="text" placeholder="Company Name">
                  <input type="text" placeholder="Email*">
                  <input type="text" placeholder="Title">
                  <input type="text" placeholder="First Name *">
                  <input type="text" placeholder="Middle Name">
                  <input type="text" placeholder="Last Name *">
                  <input type="text" placeholder="Address 1 *">
                  <input type="text" placeholder="Address 2">
                </form>
              </div>

              <div class="form-two">
                <form>
                  <input type="text" placeholder="Zip / Postal Code *">
                  <select>
                    <option>-- Country --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <select>
                    <option>-- State / Province / Region --</option>
                    <option>United States</option>
                    <option>Bangladesh</option>
                    <option>UK</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Ucrane</option>
                    <option>Canada</option>
                    <option>Dubai</option>
                  </select>
                  <input type="password" placeholder="Confirm password">
                  <input type="text" placeholder="Phone *">
                  <input type="text" placeholder="Mobile Phone">
                  <input type="text" placeholder="Fax">
                </form>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="order-message">
              <p>Shipping Order</p>
              <textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
              <label><input type="checkbox"> Shipping to bill address</label>
            </div>
          </div>

        </div>
      </div>
</div>
</section> <!--/checkout page>
		<!---728x90--->

    <div class="footer">

            <div class="footer-top">
              <div class="wrap">
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div class="footer-middle">
            <div class="wrap">
              <div class="section group example">
                <div class="col_1_of_f_1 span_1_of_f_1">
                  <div class="section group example">
                    <div class="col_1_of_f_2 span_1_of_f_2">
                      <div class="social-media">
                        <ul>
                          <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                          <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                        </ul>
                      </div>
                    </div>

                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div class="footer-bottom">
            <div class="wrap">
              <div class="copy">
                <p>Copyright © 2013 SHOPKNEKT Inc. All rights reserved. </p>
              </div>
              <div class="f-list2">
                <ul>
                  <li class="active"><a href="about.html">About Us</a></li> |
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
          </div>

    </div>

</body>
</html>
